@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,300&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

input, textarea{
    margin: 1%;
    border-radius: 5px;
    border: 1px solid rgb(80, 79, 79);
}

button{
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(80, 79, 79);
}

td, table{
    border:1px solid rgb(102, 102, 102);
    border-collapse: collapse;
    text-align: center;
}
